{% extends 'base.html' %}
{% block title %}
    {{ category.title }}
{% endblock %}

{% block sidebar %}
    <div class="list-group">
        {% for item in categories %}
            <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action active"
               aria-current="true">
                {{ item.title }}
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% for item in posts %}
        <div class="card mb-3">
            <div class="card-header">
                {% if item.category %}
                    Category:{{ item.category }}
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
            </div>
            <div class="card-footer text-muted">
                {{ item.created_at|date }}
            </div>
        </div>

    {% endfor %}
{% endblock %}



