{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            {% if item.category %}
                Category:{{ post.category }}
            {% endif %}
        </div>
        <div class="card-body">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" width="350" class="float-left mr-3">
            {% endif %}
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|safe|linebreaks }}</p>
            <a href="#" class="btn btn-primary">Update</a>
            <a href="#" class="btn btn-primary">Delete</a>

        </div>
        <div class="card-footer text-muted">
            {{ post.created_at|date }}
        </div>
    </div>
{% endblock %}



















