{% extends 'base.html' %}
{% load comments_tree %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            {% if item.category %}
                Category:{{ post.category }}
            {% endif %}
        </div>
        <div class="card-body">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" width="350" class="float-left mr-3">
            {% endif %}
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|safe|linebreaks }}</p>
            {% if current_user.pk == post.author_id %}
                <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete' post.id %}" class="btn btn-primary">Delete</a>
            {% endif %}

        </div>
        <div class="card-footer text-muted">
            {{ post.created_at|date }}
        </div>
    </div>
    <p>Комментарии </p>
    <hr>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            {{ comments|comments_filter }}
            <hr>
            <div class="col-md-12">
                <form action="{% url 'create_comment' %}" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" class="btn btn-primary" value="send">
                </form>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>












        $(document).ready(function () {
            $(".reply").on('click', function () {
                var commentId = $(this).attr('data-id')
                $("#form-" + commentId).fadeToggle();
            })
            $(".submit-reply").on('click', function (e) {
                e.preventDefault()
                var parentId = $(this).attr('data-submit-reply')
                var id = $(this).attr('data-id')
                var text = $("#form-" + id).find('textarea[name="comment-text"]').val();

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                const csrftoken = getCookie('csrftoken');
                data = {
                    user: "{{ request.user.username }}",
                    parentId: parentId,
                    text: text,
                    id: id,
                    csrfmiddlewaretoken: csrftoken
                }
                $.ajax({
                    method: "POST",
                    data: data,
                    url: "{% url 'create_child_comment' %}",
                    success: function (data) {
                        window.location.replace('posts/<int:post_id>/')
                    }
                })
            })
        })
    </script>
{% endblock %}




















