{% extends 'base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            {% if item.category %}
                Category:{{ post.category }}
            {% endif %}
        </div>
        <div class="card-body">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" width="350" class="float-left mr-3">
            {% endif %}
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content|safe|linebreaks }}</p>
            {% if current_user.pk == post.author_id %}
                <a href="{% url 'update' post.id %}" class="btn btn-primary">Update</a>
                <a href="{% url 'delete' post.id %}" class="btn btn-primary">Delete</a>
            {% endif %}
            {% include 'inc/_likes.html' with post_id=post.id %}
        </div>
        <div class="card-footer text-muted">
            {{ post.created_at|date }}
        </div>
    </div>
    <p>Комментарии ({{ post.comments_posts.all.count }}) </p>
    <hr>
    <ul>
        {% for item in post.comments_posts.all %}
            <li>
                {{ item.text }}<br>
                Date: {{ item.created_at }}<br>
                Author: {{ item.author }}<br><br>



                {% if current_user.pk == post.author_id %}

                    <a href="{% url 'delete_comment' item.id %}" class="btn btn-primary">Delete comment</a>

                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="url_from" value="{{ request.path }}">
        <input type="submit" class="btn btn-success" value="send">
    </form>












{% endblock %}




















